{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>verification</title>
    <link rel="stylesheet" href="{% static 'css/verification.css' %}" />
    <link href="link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1 class="head">Blogga</h1>
    <br />
    <div class="hero">
      <img src="{% static 'img/Rectangle 3.png' %}" alt="" /> <br />
      <h1 class="txt">
        <p>Welcome to<span> Blogga</span></p>
      </h1>
      <br />
      <p class="big">We are glad to have you</p><br>
      <p class="small" style="text-align: center;">
        Welcome aboard! before we can get started, please verify your <a href="https://gmail.com/">email</a><br /><br />Check your mail for your account verification link.
        After verifying your account use the link below to Login to Blogga
        account
      </p>
      <br />
      <button onclick="window.location.href='http://localhost:8000/accounts/login';" class="btn">Login</button></a>
      <p class="vsm">if you have any question,<span>Contact us</span><br /></p><br>
      <footer>copyright (c)2022 Blogga. All right reserved</footer>
    </div>
  </body>
</html>
